# 统一硬件基线参数 (ESP32-WROOM-32)
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_FREERTOS_HZ=1000

# 优化 FreeRTOS 任务调度与看门狗
CONFIG_ESP_TASK_WDT_TIMEOUT_S=10

# 优化编译输出体积
CONFIG_COMPILER_OPTIMIZATION_SIZE=y